Node Red/data-flow.json
[{"id":"d6b5c7c3.445ee8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"745183e3.ad04ac","type":"http response","z":"d6b5c7c3.445ee8","name":"LitreSubmitResponse","statusCode":"200","headers":{},"x":500,"y":40,"wires":[]},{"id":"edc9decd.c6f8a","type":"function","z":"d6b5c7c3.445ee8","name":"ProcessLitreUsage","func":"// add createdAt\nmsg.payload.createdAt = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":170,"wires":[["e4d51e10.2f5d7"]]},{"id":"ba010fc1.866ae","type":"http in","z":"d6b5c7c3.445ee8","name":"LitreSubmit","url":"/data/submit/litre","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["393936eb.a646ea","edc9decd.c6f8a","745183e3.ad04ac"]]},{"id":"dc9783c5.44cf8","type":"http in","z":"d6b5c7c3.445ee8","name":"QueryUsage","url":"/data/fetch","method":"get","upload":false,"swaggerDoc":"","x":113.5,"y":361,"wires":[["18665162.f8d5cf"]]},{"id":"b8a2bb40.33f628","type":"mongodb in","z":"d6b5c7c3.445ee8","service":"ext","mongodb":"8eed22fc.ee1dc","name":"FetchBasedOnId","collection":"LitreUsage","operation":"find","x":456.5,"y":395,"wires":[["b0a99631.d121a8"]]},{"id":"18665162.f8d5cf","type":"function","z":"d6b5c7c3.445ee8","name":"QueryFunction","func":"msg.query = msg.payload;\nmsg.limit = 1000;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":285.5,"y":329,"wires":[["b8a2bb40.33f628"]]},{"id":"393936eb.a646ea","type":"debug","z":"d6b5c7c3.445ee8","name":"LitreSubmit Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":369.5,"y":257,"wires":[]},{"id":"e4d51e10.2f5d7","type":"mongodb out","z":"d6b5c7c3.445ee8","service":"ext","mongodb":"8eed22fc.ee1dc","name":"SubmitLitre","collection":"LitreUsage","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":561.5,"y":121,"wires":[]},{"id":"b0a99631.d121a8","type":"http response","z":"d6b5c7c3.445ee8","name":"QueryUsageResponse","statusCode":"200","headers":{},"x":667.5,"y":416,"wires":[]},{"id":"8eed22fc.ee1dc","type":"mongodb","z":"","hostname":"ds219040.mlab.com","port":"19040","db":"smartmeter","name":"SmartMeter"}]